# Docs for the Azure Functions Deploy action: https://github.com/Azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Functions - maester-api

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mcr.microsoft.com/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B9244505EDD44314B86B7FB6119F2EE2 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_6369E5F8D8BF4934AA6E4B5ED88BC687 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B9244505EDD44314B86B7FB6119F2EE2 }}/azure-functions/dotnet:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_33953DB3ADB64EE1AFC79D92F8BA5ACF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DA31D7DBE41749919960575C96487AD2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_55ED9CCF3B6940E193205FD0C178EB98 }}

      - name: Deploy to Azure Functions
        id: deploy-to-functions
        uses: azure/functions-deploy@v2
        with:
          app-name: 'maester-api'
          slot-name: 'Production'
          images: 'mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_B9244505EDD44314B86B7FB6119F2EE2 }}/azure-functions/dotnet:${{ github.sha }}'
          